@import url("https://fonts.googleapis.com/css2?family=Allura&family=Smooch&display=swap");

.HeroBackground {
  padding: 0 1rem;
}

.heroPropertyCard {
  display: none;
}

.Hero {
  display: flex;
  flex-direction: row;
}

.rbsSpan {
  font-size: 2.5rem;
  color: #e1def6;
}

.heroText {
  margin: 1rem 0;
  font-size: 3rem;
  color: #000929;

  text-align: center;
}

.rbsIm {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 30rem;
}

.heroDesc {
  font-size: 1.5rem;
  color: #353b56;

  font-weight: bold;
  text-align: center;
}

.propertyNumbers {
  max-width: 20rem;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  text-align: center;
  background-color: transparent;
}

.display_none {
  display: none;
}

.propertyNumbers > p {
  margin: 0;
}

.colorText {
  font-size: 3rem;
  color: #6a5dfd;
}

.segment2 {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.segment2 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.2);
}

.segment2Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30em;
  text-align: center;
  gap: 2rem;
}

.s2OptionMenu {
  display: flex;
  background-color: #fbfaff;
  padding: 0.5rem;
  width: 20rem;
  text-align: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 2px solid;
  border-color: #efeffb;
}

.s2OptionMenu button {
  width: 9rem;
}

.s2Options {
  background-color: #dddee4;
  color: grey;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0;
}

.s2Selected {
  padding: 0.5rem 1rem;
  background-color: #fefeff;
  color: #847bf3;
  font-weight: bold;
  border: 1px solid;
}

.s2Hero {
  font-size: 2rem;
  font-weight: bold;
}

.s2Desc {
  font-size: 1rem;
  color: #abadb8;
}

.s2Info button {
  color: white;
  background-color: #847bf3;
  border: 0;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
}

.segment3 {
  background-color: #f7f6fc;
  border: 3px #e1def7;
  border-style: double;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

.segment3 img {
  width: 100%;
  border-radius: 5px;
  margin: 1rem;
}

.s3Icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 80px;
  gap: 20px;
}

.s3Icons img {
  width: 70px;
  height: 70px;
}

.iconText {
  font-size: 1.2rem;
  font-weight: bold;
}

.iconDesc {
  font-size: 0.9rem;
}

.recommendations {
  padding: 2rem;
  margin: 0 1rem;
}

.recNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations button {
  background-color: #7164f0;
  color: white;
  width: 200px;
  font-size: large;
  border: 0;
  padding: 1rem 1.5rem;
}

.recDesc {
  margin-bottom: 2rem;
}

.Testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  margin: 1rem;
}

.Testimonial h1 {
  color: #000929;
}

.Testimonial p {
  max-width: 50em;
  margin: 0 auto;
}

.Testimonial span {
  color: #000929;
  font: bolder;
}

.Testimonial img {
  width: 150px;
  height: 50px;
  margin: 0 auto;
}

.clientEmail {
  background-color: #17125b;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.clientEmail input {
  padding: 0.7rem 1rem;
  border-radius: 5px 0px 0px 5px;
  border: 0;
  outline: 0;
}

.clientEmail button {
  background-color: #6a5dfd;
  padding: 0.7rem 1rem;

  border-radius: 5px;
  border: 0;
  margin-top: 1rem;
}

.emailInputFields {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  display: flex;
  justify-content: row;
}

.colouredText {
  color: #7164f0;
  font-weight: bold;
}

.greyText {
  color: grey;
}

.p2 {
  margin-top: 1rem;
  background-color: transparent;
}

@media screen and (min-width: 800px) {
  .heroPropertyCard {
    display: block;
  }
  .HeroBackground {
    background-image: url("../images/PW_map_background.png");
    margin: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    gap: 2rem;
  }

  .headerPart1 {
    display: flex;
    justify-content: space-between;
  }

  .headerPart2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .heroDesc {
    text-align: left;
  }

  .heroText {
    text-align: left;
  }

  .segment2 {
    flex-direction: row;
    max-height: 30em;
    justify-content: space-between;
  }

  .segment2 img {
    width: 40%;
    max-height: 30em;
  }

  .segment2Info {
    align-items: flex-start;
  }

  .s2Info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
  }

  .segment3 {
    max-height: 30em;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
  }

  .segment3 img {
    width: 40%;
  }

  .recNav {
    flex-direction: row;
    justify-content: space-between;
  }

  .clientEmail {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .emailInputFields {
    margin: 0 auto;
    width: 30rem;
    background-color: #f7f6fc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }

  .emailInputFields button {
    margin: 0;
  }

  .emailInputFields input {
    width: 85%;
  }

  .col {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-property-card {
    display: block;
  }

  .HeroBackground {
    display: flex;
    flex-direction: column;
  }

  .headerPart1 {
    display: flex;
    justify-content: space-evenly;
  }

  .HeroBackground,
  .segment2,
  .segment3,
  .recommendations,
  .Testimonial {
    margin: 2rem 5rem;
  }

  .Hero {
    justify-content: space-between;
  }

  .heroNav {
    width: 50rem;
    background-color: #fff;
    border-radius: 0.5rem;
  }
}

.greyText {
  color: #abadb8;
}

.faded {
  color: #abadb8;
  font-weight: lighter;
}

.disNone {
  display: none;
}

.rbsTabs {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.rbsNav {
  display: flex;
  padding: 0.5rem 0 0 0;
  justify-content: space-evenly;
  border-radius: 15px 15px 0 0;
  background-color: white;
  border-bottom: 1px solid #e0def7;
}

.rbsInfoExtended {
  display: none;
}

.rbsSelected {
  color: #847bf3;
  font-weight: bolder;
  border-bottom: 2px;
  border-bottom: solid;
  border-color: #7164f0;
}

.rbsOption {
  padding: 1rem;
  font-size: large;
}

.bmp {
  border-radius: 10px;
}

.rbsRS {
  padding: 1rem;
  border-radius: 0 0 15px 15px;
  display: flex;

  justify-content: space-between;
}

.rbsInfoMobile {
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.rbsInfoMobile input {
  padding: 0.5rem;
  border: 0;
}

.rbsRS button {
  padding: 0.7rem 1rem;
  background-color: #7164f0;
  color: white;
  border-radius: 10px;
  border: 0;
  font-size: larger;
}

.rbsSell {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.rbsSell button {
  padding: 1rem;
  background-color: #7164f0;
  color: white;
  border-radius: 5px;
  border: 0;
}

.greyText1 {
  color: #4d5d5e;
}

.rbsInfo1 {
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
  background-color: white;
  gap: 2rem;
  border-radius: 0 5px 5px 5px;
}

.rbsInfo1 input {
  /* padding: 0.5rem; */
  border: 0;
}

.rbsInfo2 input {
  border: 0;
}

.rbsInfoExtended button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  max-height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #7164f0;
  color: white;
}

.rbsInfo2 {
  display: none;
  padding: 0.5rem;
  justify-content: space-evenly;
  background-color: white;
  gap: 2rem;
  border-radius: 0 5px 5px 5px;
}

.rbsInfo3 {
  display: none;
  padding: 1.5rem;
  justify-content: space-evenly;
  background-color: white;
  gap: 2rem;
  border-radius: 0 5px 5px 5px;
}

@media screen and (min-width: 700px) {
  .rbsInfoMobile {
    display: none;
  }

  .rbsInfoExtended {
    display: flex;
  }

  .rbsNav {
    max-width: 15em;
  }
}
